*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

/* ########################################################################################################################################### */
/* トップページ */
/* ########################################################################################################################################### */

.gameTitle {
    font-size : 150px;
    font-weight : bold;
    font-family : "Arial Black";
    text-align : center;
    padding-top: 40px;
    z-index: 2;
}

.selectBtn {
    padding-top: 5px;
    z-index: 2;
}

.startInfo {
    font-size : 20px;
    font-family : "Arial Black";
    text-align : center;
    padding-top: 100px;
    z-index: 2;
}

a.btn--orange {
    font-size : 45px;
    font-family : "Arial Black";
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    z-index: 2;
}
a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.fingerSizeInTop {
    font-size: 50px;
}

/* ########################################################################################################################################### */
/* ゲームページ */
/* ########################################################################################################################################### */

/* ====================================================== */
/* 共通 */
/* ====================================================== */

.comArea_Common {
    padding-top: 20px;
}

.comName_Common {
    color: rgb(0, 49, 184);
    font-size : 20px;
    font-family : "Arial Black";
    text-align : center;
}

.playerArea_Common {
    padding-top: 10px;
}

.playerName_Common {
    color: rgb(184, 0, 0);
    font-size : 25px;
    font-family : "Arial Black";
    text-align : center;
}

.comFingerSize_Common {
    font-size: 150px;
    color: rgb(0, 49, 184);
}
.playerFingerSize_Common {
    font-size: 250px;
    color: rgb(184, 0, 0);
}

.gameTitleFingers_Common {
    color: #b84c00;
    background-color: rgb(37, 37, 37);
    font-size : 15px;
    font-weight : bold;
    font-family : "Arial Black";
    text-align : start;
}

/* Fist設定 */
.comFist_right {
    transform: rotate(160deg);
}
.comFist_left {
    transform: rotate(200deg) scale(-1, 1);
}
.playerFist_right {
    transform: rotate(315deg) scale(-1, 1);
}
.playerFist_left {
    transform: rotate(45deg);
}

.buttonTextInfo {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Arial Black";
    color: #000000;
}

.fingerSelectBtn {
    margin-bottom: 6px;
    font-family: "Arial Black";
    color: #000000;
}

.readyFight {
    top: -10px;
    height: 50px;
    font-size: 50px;
    font-family: "Arial Black";
    color: #000000;
}

#totalDisplay {
    font-size: 50px;
    font-family: "Arial Black";
    color: orange;
}

.totalDisplayOfCom {
    font-size: 50px;
    font-family: "Arial Black";
    color: rgb(18, 154, 196);
}

#myDisplay {
    font-size: 50px;
    font-family: "Arial Black";
    color: rgb(192, 49, 73);
}

.expectedNumber {
    margin-top: 5px;
    font-size: 15px;
    font-family: "Arial Black";
    color: rgb(241, 241, 241);
    background-color: #000000;
}

.expectedDisplay {
    background-color: rgba(0, 0, 0, 0.76);
}

.turnAndResult {
    font-size: 40px;
    font-family: "Arial Black";
}
.turnAndResult_red {
    color: rgb(184, 0, 0);
}
.turnAndResult_blue {
    color: rgb(0, 49, 184);
}
.turnAndResult_green {
    color: rgb(0, 121, 36);
}

#modalButton {
    display: none;
}
.modal-content {
    background-color: #0000008e;
}
.modal-title {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: "Arial Black";
}
.modal-body {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.modalBtn {
    font-size: 20px;
    text-align: center;
    font-family: "Arial Black";
}

/* ====================================================== */
/* 2Finger設定 */
/* ====================================================== */

.comFinger_right {
    transform:rotate(70deg);
}
.comFinger_left {
    transform:rotate(110deg);
}
.playerFinger_right {
    transform:rotate(-135deg);
}
.playerFinger_left {
    transform:rotate(-45deg);
}

/* ====================================================== */
/* 4Finger設定 */
/* ====================================================== */

.com4Finger_right {
    transform:rotate(70deg);
}
.com4Finger_left {
    transform:rotate(-70deg);
}
.player4Finger_right {
    transform:rotate(45deg);
}
.player4Finger_left {
    transform:rotate(-45deg);
}
